<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net40" />
  <package id="Fody" version="6.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="MadMilkman.Ini" version="1.0.6.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="MimeTypes" version="1.0.4" targetFramework="net452" developmentDependency="true" />
  <package id="Nancy" version="2.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net451" />
  <package id="Portable.BouncyCastle" version="1.8.6.7" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net451" />
</packages>